<template name="Header">
  <div class="navbar-fixed">
    <nav>
      <div class="container">
        {{#if currentUser}}
          <a href = "/" class="brand-logo">Boilerplate</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/Logout" class="logout">Logout</a></li>
          </ul>

          <ul class="side-nav" id="side">
            <li><h2 style="color:#000; text-align: center;">Boilerplate</h2></li>
            <li><a href="/Logout" class="logout">Logout</a></li>
          </ul>
        {{else}}
          <a href = "/" class="brand-logo">Boilerplate</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/Login">Login</a></li>
            <li><a href="/Register">Register</a></li>
          </ul>
        {{/if}}
      </div>
    </nav>
  </div>
</template>
